<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js"></script>
</head>
<body>
    <!--Hero-->
    <section id="" class="bg-cover hero-section" style="background-image: url(../assets/images/about-hero.jpg);" >
        <div class="overlay"></div>
            <div class="container text-white text-center">
                <div class="col-12 pt-4 mt-5">
                    <h1 class="display-4" data-aos="zoom-in" data-aos-duration="3000">ABOUT US</h1>
                    <p class="my-4" data-aos="fade-up" data-aos-duration="2000">We strive for excellence in everything we do, pushing the <br>
                        boundaries of what's possible to achieve remarkable results.</p>
                        <a href="#" class="btn btn-main" data-aos="fade-up" data-aos-duration="1000">Contact Us</a>
                </div>
            </div>
    </section>
    <!--About us section-->
    <section id="" class="about-section">
        <div class="container">
            <div class="row">
              <div class="col-12 section-intro text-center" data-aos="fade-up" data-aos-duration="3000">
                <h1>WHO WE ARE</h1>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-6 text-center about-story">
                        <p>Richtig Engineering is a renowned provider of full-service engineering solutions, specialized in cutting-edge design, analysis, and consulting. We have established ourselves as a trustworthy partner in the engineering sector, delivering excellence across a varied variety of projects, with an emphasis on innovation, quality and client satisfaction.</p>
                    </div>
                    <div class="col-md-6 about-img">
                        <img src="assets/images/about-story.jpg" alt="">
                    </div>
                </div>
                
              </div>
            </div>
        </div>
    </section>
    <!--Mission State-->
    <section id="" class="bg-cover hero-section" style="background-image: url(../assets/images/about-hero.jpg);" >
        <div class="overlay"></div>
            <div class="container text-white text-center">
                <div class="row">
                    <div class="col-12 pt-4 mt-5">
                        <h1 class="display-4" data-aos="zoom-in" data-aos-duration="3000">OUR MISSION</h1>
                        <p class="my-4" data-aos="fade-up" data-aos-duration="2000">At Richtig Engineering, our mission is to lead the way in engineering innovation, <br>
                            delivering solutions that exceed expectations, drive progress, and shape a better
                            future. <br>We are committed to providing our clients with exceptional services that
                            showcase our technical prowess,<br> creative thinking, and unwavering dedication to
                            excellence.</p>
                    </div>
                </div>
                
            </div>
    </section>
    <!--Core Values-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 section-intro text-center">
                    <h1>Core Values</h1>
                    <div class="divider"></div>
                </div>
                
                <div class="col-md-6">
                    <img src="assets/images/core-values.jpg" alt="Core Values">
                </div>
                <div class="col-md-6 tabs">
                    <div class="tabs-sidebar">
                        <button class="tabs-button" data-for-tab="1">Innovation</button>
                        <button class="tabs-button" data-for-tab="2">Precision</button>
                        <button class="tabs-button" data-for-tab="3">Collaboration</button>
                        <button class="tabs-button" data-for-tab="4">Excellence</button>
                        <button class="tabs-button" data-for-tab="5">Integrity</button>
                    </div>
                    <div class="tabs-content" data-tab="1">
                        <h2>Innovation</h2>
                        <p>We embrace the spirit of innovation, consistently exploring new
                        approaches and technologies to solve complex engineering challenges.</p>
                    </div>
                    <div class="tabs-content" data-tab="2">
                        <h2>Precision</h2>
                        <p>Our commitment to precision ensures that every detail of our work,
                            from design to execution, is meticulously planned and executed to the highest
                            standards.</p>
                    </div>
                    <div class="tabs-content" data-tab="3">
                        <h2>Collaboration</h2>
                        <p>Collaboration is at the heart of our operations. We work closely
                            with clients, partners, and our own team to foster an environment of shared
                            knowledge and mutual success.</p>
                    </div>
                    <div class="tabs-content" data-tab="4">
                        <h2>Excellence</h2>
                        <p>We strive for excellence in everything we do, pushing the
                            boundaries of what's possible to achieve remarkable results.</p>
                    </div>
                    <div class="tabs-content" data-tab="5">
                        <h2>Integrity</h2>
                        <p>Integrity is the foundation of our business. We conduct ourselves with honesty, transparency, and ethical conduct in all interactions.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

   
</body>
</html>
