<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Hero-->
    <section id="" class="bg-cover hero-section" style="background-image: url(../assets/images/about-hero.jpg);" >
        <div class="overlay"></div>
            <div class="container text-white text-center">
                <div class="col-12 pt-4 mt-5">
                    <h1 class="display-4" data-aos="zoom-in" data-aos-duration="3000">ABOUT US</h1>
                    <p class="my-4" data-aos="fade-up" data-aos-duration="2000">We strive for excellence in everything we do, pushing the <br>
                        boundaries of what's possible to achieve remarkable results.</p>
                        <a href="#" class="btn btn-main" data-aos="fade-up" data-aos-duration="1000">Contact Us</a>
                </div>
            </div>
    </section>
    <!--About us section-->
    <section id="" class="about-section">
        <div class="container">
            <div class="row">
              <div class="col-12 section-intro text-center" data-aos="fade-up" data-aos-duration="3000">
                <h1>ABOUT US</h1>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-6 text-center about-story">
                        <p>Richtig Engineering is a renowned provider of full-service engineering solutions, specialized in cutting-edge design, analysis, and consulting. We have established ourselves as a trustworthy partner in the engineering sector, delivering excellence across a varied variety of projects, with an emphasis on innovation, quality and client satisfaction.</p>
                    </div>
                    <div class="col-6 about-img">
                        <img src="assets/images/about-story.jpg" alt="">
                    </div>
                </div>
                
              </div>
            </div>
        </div>
    </section>
    
</body>
</html>
