<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
         <!--Hero-->
    <section id="" class="bg-cover hero-section" style="background-image: url(../assets/images/contact-hero.jpg);" >
    <div class="overlay"></div>
    <div class="container text-white text-center">
      <div class="col-12 pt-4 mt-5">
        <h1 class="display-4" data-aos="zoom-in" data-aos-duration="3000">CONTACT US</h1>
        <p class="my-4" data-aos="fade-up" data-aos-duration="2000">We strive for excellence in everything we do, pushing the <br>
            boundaries of what's possible to achieve remarkable results.</p>
            <a href="#" class="btn btn-main" data-aos="fade-up" data-aos-duration="1000">Contact Us</a>
      </div>
    </div>
    </section>
    <section class="text-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-start contact-intro">
                    <h2>Let's chat. <br> Tell me about your project.</h2>
                    <p>let's create something together</p>
                    <div class="icon">
                        <i class="icon-envelope"></i> | info@richtigeng.co.za 
                        <br>
                        <i class="icon-phone"></i> | (+27) 61 015 2048
                    </div>
                    
                    
                </div>
                <div class="col-md-6 form-intro">
                    <h5>Send us a message</h5>
                    <div class="divider"></div>
                    <form action="">
                        <div class="form-floating mb-3 mt-5">
                            <input type="text" class="form-control" id="fullName" placeholder="Full Name" required>
                            <label for="fullName">Full Names</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" required>
                            <label for="subject">Subject</label>
                        </div>
                        <p class="text-start">Tell us about your project</p>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                            <label for="message">Message</label>
                        </div>
                          
                    </form>
                        
                      

                </div>
            </div>
        </div>

    </section>

</body>
</html>
