body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);

}

.nav-link{
    color: #646464e5;
}

.nav-link:hover{
    color:#121433e5;
    border: solid;
    border: 15px;
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .float-button a {
    display: block;
    background-color: #25d366; /* WhatsApp green color */
    color: #fff;
    text-align: center;
    font-size: 42px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    text-decoration: none;
  }
  
  .float-button a:hover {
    background-color: #128c7e; /* Darker green color on hover */
  }

.footer{
    color: #fff;
    background-color: #121433e5;
}

.footer a{
    color: #fff;
    font-weight: normal;
}