<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--HERO SECTION-->
    <section id="" class="bg-cover hero-section" style="background-image: url(../assets/images/about-hero.jpg);" >
        <div class="overlay"></div>
            <div class="container text-white text-center">
                <div class="col-12 pt-4 mt-5">
                    <h1 class="display-4" data-aos="zoom-in" data-aos-duration="3000">WHAT WE OFFER</h1>
                    <p class="my-4" data-aos="fade-up" data-aos-duration="2000">We strive for excellence in everything we do, pushing the <br>
                        boundaries of what's possible to achieve remarkable results.</p>
                </div>
            </div>
    </section>
    <!--SERVICE SECTION-->
    <section id="" class="service-section">
        <div class="container">
            <div class="row">
              <div class="col-12 section-intro text-center" data-aos="fade-up" data-aos-duration="3000">
                <h1>WHAT WE DO</h1>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                      <div class="service">
                        <div class="service-img">
                          <img src="assets/images/service-1.jpg" alt="">
                          
                        </div>
                        <h5 class="mt-5 pt-4">Engineering Design and Analysis</h5>
                        <p>Our team of experienced engineers uses
                          state-of-the-art software and methodologies to create innovative, efficient, and
                          reliable designs across various industries.</p>
                      </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                      <div class="service">
                        <div class="service-img">
                          <img src="assets/images/service-2.jpeg" alt="">
                          
                        </div>
                        <h5 class="mt-5 pt-4">Structural and Mechanical Analysis</h5>
                        <p>We offer in-depth analysis using
                          advanced tools, ensuring the structural integrity and performance of
                          components, systems, and structures.</p>
                      </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                      <div class="service">
                        <div class="service-img">
                          <img src="assets/images/service-3.jpg" alt="">
                          
                        </div>
                        <h5 class="mt-5 pt-4">Consulting and Advisory</h5>
                        <p>Richtig Engineering provides expert consulting
                          services, offering insights into engineering design, project management, and
                          optimization strategies.</p>
                      </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-4.jpg" alt="">
                            
                          </div>
                          <h5 class="mt-5 pt-4">General Engineering and Plant Maintenance</h5>
                          <p>We offer chutes and crushers
                            maintenance, structural fabrication and erecting.</p>
                        </div>
                      </div>
                      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-55.jpg" alt="">
                            
                          </div>
                          <h5 class="mt-5 pt-4">Borehole drilling and equipping</h5>
                          <p>We offer water yield test, water quality test
                            and drilling site survey.</p>
                        </div>
                      </div>
                      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-6.jpg" alt="">
                           
                          </div>
                          <h5 class="mt-5 pt-4">CAD and 3D Modelling</h5>
                          <p>Our proficiency in Computer-Aided Design (CAD) and
                            3D modelling allows us to visualize and communicate complex concepts
                            effectively.</p>
                        </div>
                      </div>
                      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-7.jpg" alt="">
                           
                          </div>
                          <h5 class="mt-5 pt-4">Welding inspection</h5>
                          <p>We specialize in welding inspection, welder’s
                            certification, welding documentation, welding consultancy, welding fabrication.</p>
                        </div>
                      </div>
                      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-8.jpg" alt="">
                           
                          </div>
                          <h5 class="mt-5 pt-4">Non-Destructive Testing (NDT)</h5>
                          <p></p>
                        </div>
                      </div>
                      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                        <div class="service">
                          <div class="service-img">
                            <img src="assets/images/service-9.jpg" alt="">
                           
                          </div>
                          <h5 class="mt-5 pt-4">Project Management</h5>
                          <p>Our skilled project managers oversee projects from
                            inception to completion, ensuring adherence to timelines, budgets, and quality
                            standards.</p>
                        </div>
                      </div>

                </div>
                
              </div>
            </div>
        </div>
    </section>
    <!--Technology expertise-->
    <section id="" class="technology-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 section-intro text-center" data-aos="fade-up" data-aos-duration="3000">
                    <h1>TECHNOLOGY EXPERTISE</h1>
                    <div class="divider"></div>
                </div>
           
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <div class="technology">
                  <div class="technology-img">
                    <img src="assets/images/CAD.jpg" alt="">
                  </div>
                  <h5 class="mt-5 pt-4">COMPUTER-AIDED DESIGNS</h5>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <div class="technology">
                  <div class="technology-img">
                    <img src="assets/images/FEA.jpg" alt="">
                  </div>
                  <h5 class="mt-5 pt-4">FINITE ELEMENT ANALYSIS</h5>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
                <div class="technology">
                  <div class="technology-img">
                    <img src="assets/images/MODELING.jpg" alt="">
                  </div>
                  <h5 class="mt-5 pt-4">SIMULATION & 3D MODELLING</h5>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>