<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RichTig Engineering</title>
    <link type="text/css" href="/src/line-icon.css">
</head>
<body>
     <!--Hero-->
  <section id="home" class="bg-cover hero-section" style="background-image: url(../assets/images/video/richtig.mp4);" >
    <video class="col-12 row-cols-md-3" src="../assets/images/video/richtig.mp4" autoplay muted loop playsInline [disablePictureInPicture]="true"></video>
    <div class="overlay"></div>
    <div class="container text-white text-center">
      <div class="col-12">
        
        <p class="my-4" data-aos="fade-up" data-aos-duration="2000">We strive for excellence in everything we do, pushing the <br>
            boundaries of what's possible to achieve remarkable results.</p>
            <a routerLink="/contact" class="btn btn-main" data-aos="fade-up" data-aos-duration="1000">Contact Us</a>
      </div>
    </div>
  </section>

  <!--services-->
  <section id="services" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center" data-aos="fade-up" data-aos-duration="3000">
          <h1>Our Services</h1>
          <div class="divider"></div>
          <p>We strive for excellence in everything we do, pushing the <br>
            boundaries of what's possible to achieve remarkable results.</p>
        </div>
      </div>
      <!--cards-->
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="service">
            <div class="service-img">
              <img src="assets/images/service-1.jpg" alt="">
              <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-4">Engineering Design and Analysis</h5>
            <p>Our team of experienced engineers uses
              state-of-the-art software and methodologies to create innovative, efficient, and
              reliable designs across various industries.</p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="service">
            <div class="service-img">
              <img src="assets/images/service-2.jpeg" alt="">
              <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-4">Structural and Mechanical Analysis</h5>
            <p>We offer in-depth analysis using
              advanced tools, ensuring the structural integrity and performance of
              components, systems, and structures.</p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="service">
            <div class="service-img">
              <img src="assets/images/service-3.jpg" alt="">
              <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-4">Consulting and Advisory</h5>
            <p>Richtig Engineering provides expert consulting
              services, offering insights into engineering design, project management, and
              optimization strategies.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a routerLink="/services" class="btn btn-main" data-aos="fade-up" data-aos-duration="1000">More Services</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
